body {
	position: relative;
	overflow-x: hidden;
}

a {
	color: var(--link-color, blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button:focus:not(:focus-visible) {
	outline: none;
}

a:focus {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

::selection {
	color: var(--selection-color, #333);
	background-color: var(--selection-bgcolor, #ccc);
}
